.buble-block {

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    border-radius: 25px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 1px 10px 2px rgb(240, 240, 240);
    overflow: hidden;
    margin: 5px;
}