@import "./../../@style/colors";
@import "./../../@style/components";

.articles-component {

    padding: 30px 0 0 0;
    @extend %text-montsserat-alternates;
    color: $transparent-dark-violet;
    font-size: 18px;
    font-weight: 700;

    .row {
        display: flex;
        flex-flow: row nowrap;

        &-wrap {
            display: flex;
            flex-flow: row wrap;
        }
    }

    .gap {
        gap: 40px;
    }

    .little-gap {
        gap: 20px;
    }

    .mini-gap {
        gap: 10px;
    }

    .col {
        display: flex;
        flex-flow: column nowrap;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .padding{
        padding: 10px 20px;
    }

    .flex-grow {
        flex-grow: 1;
        align-items: stretch;
        justify-content: center;
    }

    .link-buble {
        padding: 10px;
        height: 100%;
    }

    .grow-btn {
        border-radius: 10px;
        padding: 10px 40px;

        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .padding {
        padding: 0 0 40px;
    }
}