.main-block {
    display: flex;
    flex-flow: column wrap;

    .grow {
        flex-grow: 1;
    }

    .row {
        display: flex;
        flex-flow: row nowrap;
    }

    .space-between {
        justify-content: space-between;
        gap: 10px;
    }

    .grid {
        display: flex;
        flex-flow: row nowrap;
    }

    .flex-grow {
        flex-grow: 1;
    }

    .chart-inner {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        gap: 20px;
    }

    .table {
        max-height: 410px;
        max-width: 500px;
    }

    .carusel-inner {
        display: flex;
        flex-flow: column nowrap;
        padding: 10px 10px;
        overflow: hidden;
        max-width: 500px;
        max-height: 410px;
        gap: 20px;
    }
}

@media (max-width: 1300px) {
    .main-block {
        .row {
            display: flex;
            flex-flow: row wrap;
        }

        .grid {
            display: flex;
            flex-flow: row wrap;
        }
    }
}


@media all and (orientation: portrait) {
    .main-block {
        .row {
            display: flex;
            flex-flow: row wrap;
        }

        .grid {
            display: flex;
            flex-flow: row wrap;
        }
    }
}