.main-block {
    display: flex;
    flex-flow: column wrap;

    .grow {
        flex-grow: 1;
    }

    .row {
        display: flex;
        flex-flow: row wrap;
    }

    .space-between {
        justify-content: space-between;
        gap: 10px;
    }

    .grid {
        display: flex;
        flex-flow: row wrap;

    }

    .flex-grow {
        flex-grow: 1;

    }

    .chart-inner {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        gap: 20px;
    }

    .table {
        max-height: 400px;
        max-width: 500px;
    }

    .carusel-inner {
        display: flex;
        flex-flow: column nowrap;
        padding: 10px 10px;
        overflow: hidden;
        max-width: 500px;
        gap: 20px;
    }


}