@import "./../../@style/components";

.my-base-layout {
    min-width: 320px;

    .content {
        padding: $top-padding $side-padding;

    }
}



@media (max-width: 768px) {
    .my-base-layout {
        .content {
            padding: $small-top-padding $small-side-padding;
        }
    }
}