@import "./../../@style/colors";
@import "./../../@style/components";

%title-text {
    @extend %text-montsserat-alternates;
    font-size: 22px;
    font-weight: 700;
}

.my-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    padding-left: $side-padding;
    padding-right: $side-padding;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 15%);

    .block-title {
        flex-grow: 1;
        display: flex;
        flex-flow: row nowrap;
        padding: 15px 15px 15px 0;
        justify-content: flex-start;
        gap: 7px;
    }

    .brand {
        @extend %title-text;
        color: $dark-violet;
    }

    .links {

        display: flex;
        justify-content: space-between;
        gap: 50px;
        margin: 0;

        .link {
            padding: 15px;
            cursor: pointer;
            @extend %title-text;
            text-decoration: none;
            color: $transparent-dark-violet;

            &:hover {
                color: $dark-violet;
                transition-duration: .2s;
            }
        }

        .link.active {
            color: $dark-violet;
            background: linear-gradient(white 80%, $transparent-purple);
        }
    }
}

@media (min-width: 1024px) and (max-width: 1240px) {
    .my-header {
        // flex-wrap: wrap;

        .links {
            flex-wrap: nowrap;
            gap: 10px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .my-header {
        .links {
            flex-wrap: nowrap;

            gap: 5px;

            .link {
                padding: 15px 5px;
            }
        }
    }
}

@media (max-width: 768px) {
    .my-header {
        flex-flow: column nowrap;
        padding-left: $small-side-padding;
        padding-right: $small-side-padding;

        .block-title {
            justify-content: center;
        }

        .links {
            flex-flow: column nowrap;
            justify-content: center;
            gap: 10px;

            .link {
                text-align: center;
                padding: 10px;
            }
        }
    }
}