@import "./../../@style/colors";
@import "./../../@style/components";

%title-text {
    @extend %text-montsserat-alternates;
    font-size: 22px;
    font-weight: 700;
}

.my-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    padding-left: $side-padding;
    padding-right: $side-padding;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 15%);

    .block-title {
        flex-grow: 1;
        display: flex;
        flex-flow: row nowrap;
        padding: 15px 15px 15px 0;
        justify-content: flex-start;
        gap: 7px;
    }

    .brand {
        @extend %title-text;
        color: $dark-violet;
    }

    .links {

        display: flex;
        justify-content: space-between;
        gap: 50px;
        margin: 0;

        .link {
            padding: 15px;
            cursor: pointer;
            @extend %title-text;
            text-decoration: none;
            color: $transparent-dark-violet;

            &:hover {
                color: $dark-violet;
                transition-duration: .2s;
            }
        }

        .link.active {
            color: $dark-violet;
            background: linear-gradient(white 80%, $transparent-purple);
        }
    }
}