$dark-violet: #4A2570;
$transparent-dark-violet: rgb(74, 37, 112, 0.5);
$transparent-light-violet: rgb(74, 37, 112, 0.3);
$main-purple: #BE7CFF;

$transparent-purple: rgb(190, 124, 255, 0.5);
$most-transparent-purple: rgb(190, 124, 255, 0.15);

$white: #FFFFFF;

$cyan: #7CFFD8;
$yellow: #E5FF7C;
$red: #FF7C7C;
$green: #99FF90;