@import "./colors";

$side-padding: 50px;
$small-side-padding: 20px;

$top-padding: 30px;
$small-top-padding: 15px;

%text-montsserat-alternates {
    font-family: "Montserrat Alternates", sans-serif;
}

%text-montsserat {
    font-family: "Montserrat", sans-serif;
}