@import "./../../@style/colors";
@import "./../../@style/components";

%text-footer {
    @extend %text-montsserat;
    font-weight: 700;
    font-size: 18px;
    color: $transparent-light-violet;
}

.my-footer {
    width: 100%;
    padding: 20px $side-padding ;
    background: $most-transparent-purple;

    table {
        width: 100%;
        border-spacing: 0 10px;
        border-collapse: separate;
        text-align: justify;
    }

    td {
        @extend %text-footer;
    }

    .link {
        text-decoration: none;
        color: $transparent-light-violet;
        cursor: pointer;

        &:hover {
            color: $dark-violet;
            transition-duration: .3s;
        }
    }
}