@import "./../../@style/colors";
@import "./../../@style/components";


.button {
    border-radius: 10px;
    padding: 3px 25px;
    text-align: center;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @extend %text-montsserat-alternates;
    color: $white;
    font-size: 18px;
    font-weight: 500;
    opacity: 0.6;

    &-purple {
        background: $main-purple;
    }

    &-red {
        background: $red;
    }

    &-yellow {
        background: $yellow;
    }

    &-cyan {
        background: $cyan;
    }

    &-green {
        background: $green ;
    }

    &:hover {
        opacity: 1;
        transition-duration: .5s;
    }
}