@import "./../../../@style/colors";

.arrows {
    color: $transparent-purple;
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    // height: 100%;
    position: absolute;
    top: 30%;
    width: 100%;
    z-index: 1;

    & .arrow {
        height: 30px;
        width: 30px;

        &:hover {
            cursor: pointer;
            color: $main-purple;
        }
    }
}