@import "./../../../@style/components";

.slide {
    flex: 1 0 100%;
    position: relative;
    overflow: hidden;

    .slide-image {
        display: flex;
        margin: 0 auto;
        max-height: 300px;
        min-width: 300px;
        max-width: 500px;
        width: 100%;
        object-fit: contain;
    }

    .slide-title {
        @extend %text-montsserat;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: wrap;
        display: -webkit-box;

        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;


        margin-top: 10px;

    }
}