@import "./../../../@style/components";

.slide {
    flex: 1 0 100%;
    position: relative;

    .slide-image {
        display: flex;
        margin: 0 auto;
        max-height: 300px;
        min-width: 300px;
        max-width: 500px;
        width: 100%;
        object-fit: contain;
    }

    .slide-title {
        @extend %text-montsserat;
        text-align: center;
        margin-top: 10px;
    }
}